@import url('https://unpkg.com/reset-css/reset.css');

@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-display: swap;
}

body {
	font-family: 'Pretendard-Regular';
	box-sizing: border-box;
	font-size: 16px;
	line-height: 1.25;
	-webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

button {
	font-family: 'Pretendard-Regular';
	background-color: transparent;
	cursor: pointer;
	border: none;
}

strong {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: inherit;
}
